.language {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #EEE;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    /* line-height: 24px; */
}
.additionalStyle {
    display: flex; justify-content: center;
}
.arjit{
    text-align: center; 
    font-weight: bold;
}