<div class="container">
    <h3 class = "arjit">Languages I speak.</h3>
    <div class = "row additionalStyle">
      <!-- <div style = "display: flex; justify-content: center;"> -->
        <div class = "language col-3">
          <img src = "assets/logos/c.svg" height = "100" alt = "C++">
        </div>
        <div class = "language col-3">
          <img src = "assets/logos/python-seeklogo.com.svg" height = "100" alt = "python">
        </div>
        <div class = "language col-3">
            <img src = "assets/logos/java-4.svg" height = "100" alt = "java">
          </div>
        <div class = "language col-3">
            <img src = "assets/logos/typescript.svg" height = "100" alt = "ts">
          </div>
        <div class = "language col-3">
            <img src = "assets/logos/html-1.svg" height = "100" alt = "html">
        </div>
        <div class = "language col-3">
          <img src = "assets/logos/css-3.svg" height = "100" alt = "css">
        </div>
        <div class = "language col-3">
            <img src = "assets/logos/javascript-1.svg" height = "100" alt = "js">
        </div>
        
        
        
      <!-- </div> -->
    </div>
    <h3 class = "arjit">Tech I am familiar with.</h3>
    <div class = "row additionalStyle">
      
      <!-- <div style = "display: flex; justify-content: center;"> -->
        <div class = "language col-4">
          <img src = "assets/logos/angular-icon-1.svg" height = "100" alt = "Angular">
        </div>
        <div class = "language col-4">
          <img src = "assets/logos/nodejs-1.svg" width = "100" height = "60" alt = "Nodejs">
        </div>
        <div class = "language col-4">
          <img src = "assets/logos/github-icon-1.svg" height = "100" alt = "github">
        </div>
      <!-- </div>   -->
    </div>
  </div>